h1 {
    margin: 40px;
    background-color: aquamarine;
    text-align: center;
    border: solid 3px;
    color: blue;
}

p {
    margin: 1px;
    background-color: lightblue;
    color: purple;
}

li {
    margin: 20px;
    background-color: lightsalmon;
    border: solid 3px blue;
}